* {
  box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.mytext {
  border: 0;
  border:1px unset black;
  padding-left: 5px;
  background: whitesmoke;
}
.text {
  width: auto;
  font-size: 14px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.text > p:first-of-type {
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  line-height: 13px;
  font-size: 12px;
}
.text > p:last-of-type {
  width: 100%;
  text-align: right;
  color: silver;
  margin-bottom: -7px;
  margin-top: auto;
}
.text-l {
  float: left;
  padding-right: 10px;
}
.text-r {
  float: right;
  padding-left: 10px;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  padding-right: 10px;
}

.avatar > img {
  width: 50px;
  height:50px;
  border-radius: 50%;
}

.macro {
  margin-top: 5px;
  width: auto;
  border-radius: 5px;
  padding: 5px;
  display: flex;
}
.msj-rta {
  float: right;
  background: whitesmoke;
}
.msj {
  float: left;
  background: white;
}
.frame {
  background: #e0e0de;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}
.frame > div:last-of-type {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}
body > div > div > div:nth-child(2) > span {
  background: whitesmoke;
  padding: 10px;
  font-size: 21px;
  border-radius: 50%;
}
body > div > div > div.msj-rta.macro {
  margin: auto;
  margin-left: 1%;
}
ul {
  width: 100%;
  list-style-type: none;
  padding: 18px;
  position: absolute;
  bottom: 47px;
  display: flex;
  flex-direction: column;
  top: 0;
  overflow-y: scroll;
}
.msj:before {
  width: 0;
  height: 0;
  content: "";
  top: -5px;
  left: -14px;
  position: relative;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent #ffffff transparent transparent;
}
.msj-rta:after {
  width: 0;
  height: 0;
  content: "";
  top: -5px;
  left: 14px;
  position: relative;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: whitesmoke transparent transparent transparent;
}
input:focus {
  outline: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d4d4d4;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4d4d4;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #d4d4d4;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #d4d4d4;
}

.select-avatar::after {
  content: "";
  width: 90px;
  height: 2px;
  display: block;
  background-color: red;
}

.select-avatar{
    font-size: 20px;
}

.avatars{
    margin:5px;
    width:50px;
    height:50px;
    border-radius: 50%;
}

.avatars.current{
    animation: animationBorder 1s infinite ease-in-out;
}

@keyframes animationBorder{
    0%{
        border:1px solid rgb(228, 228, 228);
    }
    50%{
        border:10px solid rgb(255, 162, 55);
    }
    100%{
        border:1px solid rgb(255, 161, 55);

    }

}

#form{
    width:100%;
}